body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
    margin: 0;
}

h2 {
    color: #d63384;
}

#quizContainer {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.question {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
}

input[type="radio"] {
    margin-right: 10px;
    cursor: pointer;
}

button {
    background-color: #d63384;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c72c6f;
}

#results {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none; /* Initially hidden until the quiz is completed */
}

#results p {
    margin: 0;
    font-size: 16px;
}

#results strong {
    color: #d63384;
    font-size: 18px;
}
